			.boardButton
			{
                width: 40px;
                height: 40px;
                background-color: gray;
                border: solid black;
                margin: 2px;
                text-align: center;
                padding-top: 8px;
                font-weight: bold;
				font-size: 26px;
            }
                 
            .visitedNoMine
			{
                background-color: green;
            }
            
            .visitedMine
			{
                background-color: red;
                
            }
            
            .visitedFlag
            {
                background-color: pink;
            }
